:root{
   --color-primary: #2E8B57;  /* Verde bosque */
  --color-secondary: #FFD700;  /* Amarillo dorado */
  --color-background: #F5F5F5;  /* Gris claro */
  --color-text: #333;  /* Negro */
  --font-family: 'Arial', sans-serif;
  --font-size-base: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body{
    background: var(--color-background);
}
main{
    transition: 0.8s;
    background: var(--color-background);
    section{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.8s;
        /*Efecto de opacidad*/
        &:before{
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 200px;
            background: linear-gradient(to top, var(--color-background), transparent);
            z-index: 1;
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
        .objeto{
            top: 43%;
            object-fit: contain;
        }
        #text{
            position: relative;
            color: black;
            font-size: 10vw;
        }
    }
} 