<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <div class="nav-container">
                <div class="nav">
                    <ul>
                        <li><a href="/admin">Inicio</a></li>
                        <li><a href="/admin#servicios">Servicios</a></li>
                        <li><a href="/admin/verCabañas">Ver Cabañas</a></li>
                        <li><a href="/admin#nosotros">Nosotros</a></li>
                        <li><a href="/admin/usuarios">Ver usuarios</a></li>
                        <div class="user-layer">
                            <h2 th:text="${nombreUsuario}"></h2>
                            <li><a href="/logout"><span class="logout-icon">Cerrar sesion</span></a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </header>
        <div> 
            <label for="id" >Id:</label>
            <input type="text" id="id" name="id"  placeholder="id" th:value="${cabana.id}" readonly="true">

            <br><br>
            <label for="nombre" >Nombre:</label>
            <input type="text" id="nombre" name="nombre" th:value="${cabana.nombre}" placeholder="Nombre" readonly="true">

            <br><br>

            <label for="capacidad">Capacidad:</label>
            <input type="text" id="capacidad" name="capacidad" th:value="${cabana.capacidad}" placeholder="Capacidad">





            <table>
                <tr>
                    <td>Id:</td>
                    <td>Nombre:</td>
                    <td>Cabania:</td>
                    <td>Añadir Imagen</td>
                    <td>Eliminar imagen</td>
                </tr>
                <span th:if="${cabania.imagen != null}">
                <tr th:each="imagen : ${cabania.imagen}">
                    <td th:text="${imagenes.id} != null ? ${imagenes.id} : 'No hay imagen registrada'"></td>
                    <td th:text="${imagenes.fileName} != null ? ${imagenes.fileName} : 'No hay nombre de imagen registrada'"></td>
                    <td th:text="${imagenes.cabania.nombre}"></td>
                    <td>

                        <form th:action="@{/admin/cabania/editarCabaña/añadir}" method="post">
                            <input type="file" id="imagen" name="imagen" multiple> 
                            <button type="submit">Añadir</button>
                        </form>

                    </td>
                    <td>
                        <form th:action="@{/admin/cabania/añadirImagenes/eliminar}" method="post">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
               </span>
                <span th:unless="${cabania.imagen == null}">
                    Vacio
                </span>
            </table>





            <button><a th:href="@{/admin/verCabañas}">Regresar</a></button>

        </div>
    </body>
</html>
