<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <span th:each="info : ${listaInfo}">
            <span th:if="${info.seccion == 'Titulo-pagina'}">
                <title th:text="${info.titulo}"></title>
                <link rel="icon"  th:href="${'/img/'+info.imagen.fileName}">
            </span>
        </span>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <script th:src="${'https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js'}" crossorigin="anonymous" defer></script>
        <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/main.css}" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.css" 
              th:href="@{'https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.css'}" crossorigin="anonymous" />
    </head>
    <body class="is-preload">
        <div id="page-wrapper">

            <!-- Header -->
            <header id="header" class="alt">
                 <h1 style="    display: flex;
                    flex-direction: row;">
                    <img th:src="@{img/MANTRA.png}">
                        <a href="/">M A N T R A</a>
                </h1>
                <nav id="nav">
                    <ul>
                        <li><a href="/usuario">Inicio</a></li>
                        <li><a href="/usuario#servicios">Servicios</a></li>
                        <li><a href="/usuario/cabania">Cabañas</a></li>
                        <li><a href="/usuario#nosotros">Nosotros</a></li>
                        <li><a href="/usuario/reservaForm">Realizar Reserva</a></li>
                        <li><a href="/usuario/misReservas">Mis reservas</a></li>

                       <li ><a style="color: #ffbd59;" th:text="${nombreUsuario}" href="/admin/miPerfil"></a></li>
                        <li><a style="color: #ffbd59;" href="/logout"><span class="logout-icon">Cerrar sesion</span></a></li>
                    </ul>

                </nav>
            </header>

            <!-- Main -->
            <section id="main" class="container">
                <header>
                    <span th:each="info : ${listaInfo}">
                        <span th:if="${info.seccion == 'cabaña'}">
                            <h2 th:text="${info.titulo}"></h2>
                            <p th:text="${info.texto}"></p>
                        </span>
                    </span>
                </header>
                <div class="row">
                    <div class="col-12">

                        <!-- Text -->
                        <section class="box">
                            <div style="display: flex;
                                 justify-content: center;
                                 "class="w3-content w3-display-container">
                                <form th:action="@{/usuario/misReservas/editar/editarReserva}" method="post">
                                    <br><br>
                                            <label for="reserva" >Reserva id:</label>
                                            <input type="number" th:value="${reserva.id}" id="reservaId" name="reservaId" readOnly="true"><br><br>

                                                        <label for="usuario" >Usuario:</label>
                                                        <input type="text" th:value="${nombreUsuario}" id="usuario" name="nombreUsuario" readOnly="true"><br><br>

                                                                    <label for="cabanias">Cabañas:</label>
                                                                    <select type ="number" id="cabanias"  name="cabaniaId" required>
                                                                        <option value="">Seleccionar Cabaña</option>
                                                                        <option name="cabaniaId" th:each ="cabania : ${cabanias}" th:value="${cabania.id}" th:text="${cabania.nombre}"></option>

                                                                    </select><br><br>

                                                                            <label for="fechaInicio">Fecha de inicio:</label>
                                                                            <input type="date" id="fechaInicio" name="fechaInicio"  pattern="\d{2}-\d{2}-\d{4}" required>
                                                                                <span th:if="${error_message != null}" th:text="${error_message}" style="color: red"></span>
                                                                                <span th:if="${fecha_error != null}" th:text="${fecha_error}" style="color: red"></span>


                                                                                <br><br>

                                                                                        <label for="fechaFinal">Fecha final:</label>
                                                                                        <input type="date" id="fechaFinal" name="fechaFinal"  required>
                                                                                            <span th:if="${error_message != null}" th:text="${error_message}" style="color: red"></span>
                                                                                            <span th:if="${fecha_error != null}" th:text="${fecha_error}" style="color: red"></span>


                                                                                            <br><br>

                                                                                                    <button type="submit">Editar Reserva</button>
                                                                                                    <button ><a th:href="@{/usuario/misReservas}" >Regresar</a></button>
                                                                                                    </form>

                                                                                                    </div>


                                                                                                    </section>

                                                                                                    </div>
                                                                                                    </div>


                                                                                                    </section>

                                                                                                    <script th:object ="${cabania}" th:inline="javascript" type="text/javascript" >
                                                                                                        $(document).ready(function () {
                                                                                                        // Initialize the datepicker
                                                                                                        var arrayOfDates = [];

                                                                                                        // Function to initialize datepicker
                                                                                                        function initializeDatepicker() {
                                                                                                        $("#fechaInicio, #fechaFinal").datepicker({
                                                                                                        dateFormat: 'yy-mm-dd',
                                                                                                        minDate: 0, // Establecer la fecha mínima como hoy
                                                                                                        beforeShowDay: function (date) {

                                                                                                        var dateString = $.datepicker.formatDate('dd/mm/yy', date);
                                                                                                        var highlight = arrayOfDates.indexOf(dateString) !== -1;

                                                                                                        console.log('beforeShowDay called for date:', dateString, 'Highlight:', highlight); // Add this line to log the output
                                                                                                        console.log(arrayOfDates, ' , ');
                                                                                                        if (highlight) {
                                                                                                        return[false, 'highlight', 'Esta fecha ya se encuentra reservada o es una fecha pasada'];
                                                                                                        } else {
                                                                                                        return[true, '', ''];
                                                                                                        }
                                                                                                        }
                                                                                                        });
                                                                                                        }

                                                                                                        // Initialize datepicker on document ready
                                                                                                        initializeDatepicker();

                                                                                                        // Event listener for cabin selection change
                                                                                                        $("#cabanias").change(function () {
                                                                                                        var cabinId = $(this).val();
                                                                                                        updateUnavailableDates(cabinId);
                                                                                                        });

                                                                                                        // Function to update unavailable dates based on selected cabin
                                                                                                        function updateUnavailableDates(cabinId) {
                                                                                                        $.ajax({
                                                                                                        url: "/usuario/reservaForm/fechasNoDisponibles/" + cabinId,
                                                                                                        method: "GET",
                                                                                                        dataType: "json",
                                                                                                        success: function (availability) {
                                                                                                        arrayOfDates = availability;
                                                                                                        // Refresh datepicker
                                                                                                        $("#fechaInicio, #fechaFinal").datepicker("destroy");
                                                                                                        initializeDatepicker();
                                                                                                        },
                                                                                                        error: function () {
                                                                                                        console.error("Failed to fetch cabin availability.");
                                                                                                        }
                                                                                                        });
                                                                                                        }
                                                                                                        });


                                                                                                    </script>
                                                                                                    <!-- Footer -->
                                                                                                    <footer id="footer">
                                                                                                        <ul th:each="info : ${listaInfo}"class="icons">
                                                                                                            <span th:if="${info.seccion == 'Contactanos'}">
                                                                                                                <li><a th:href="${info.texto}" th:class="${info.titulo}"><img th:src="@{'/img/'+${info.imagen.fileName}}" alt="alt"/></a></li>
                                                                                                            </span>
                                                                                                        </ul>
                                                                                                        <ul class="copyright">
                                                                                                            <li>&copy; MANTRA. All rights reserved.</li>
                                                                                                        </ul>
                                                                                                    </footer>

                                                                                                    </div>

                                                                                                    <!-- Scripts -->
                                                                                                    <script src="assets/js/jquery.min.js"></script>
                                                                                                    <script src="assets/js/jquery.dropotron.min.js"></script>
                                                                                                    <script src="assets/js/jquery.scrollex.min.js"></script>
                                                                                                    <script src="assets/js/browser.min.js"></script>
                                                                                                    <script src="assets/js/breakpoints.min.js"></script>
                                                                                                    <script src="assets/js/util.js"></script>
                                                                                                    <script src="assets/js/main.js"></script>
                                                                                                    <script th:inline="javascript">
                                                        console.log("Exito status:", /*[[${exitoStatus}]]*/);
                                                                                                                                                console.log("Exito Info:", /*[[${exitoMensaje}]]*/);

                                                                                                                                                var exitoStatus = /*[[${exitoStatus}]]*/ 'none';
                                                                                                                                                var exitoMensaje = /*[[${exitoMensaje}]]*/ '';

                                                                                                                                                if (exitoStatus === 'success') {
                                                                                                                                                    console.log("Exito: ", exitoMensaje);
                                                                                                                                                    Swal.fire("¡Éxito!", exitoMensaje, "success");
                                                                                                                                                } 
        </script>
                                                                                                    </body>
                                                                                                    </html>