<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/registerForm.css}" />
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                </head>
                <body>
                    <main>
                        <div class="form-bg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-6">
                                        <div class="form-container">
                                            <h3 class="title">Enviar token de recuperación</h3>


                                            <form class="form-horizontal" th:action="@{/login/forgotPassword/forgotPasswordReset}" method="post" >
                                                <p>Enviar token</p>
                                                <div class="form-group">
                                                    <input type="email" name="email" placeholder="Email">
                                                        <span th:text="${errorEmailOlvidar}" style="color: red"></span> 
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" value="Enviar token">
                                                </div>



                                            </form>


                                            <span class="signin-link">¿Aun no tienes cuenta? Que esperas! <a href="/register">Registrarme</a></span>
                                            <span class="signin-link"><a href="/login">Regresar</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                    <script th:inline="javascript" >
                        console.log("Exito status:", /*[[${exitoStatus}]]*/);
                        console.log("Exito Info:", /*[[${exitoMensaje}]]*/);

                        var exitoStatus = /*[[${exitoStatus}]]*/ 'none';
                        var exitoMensaje = /*[[${exitoMensaje}]]*/ '';

                        if (exitoStatus === 'success') {
                        console.log("Exito: ", exitoMensaje);
                        Swal.fire("¡Éxito!", exitoMensaje, "success");
                        }
                    </script>

                </body>
                </html>
