<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Glamping</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div id = "loading-page"></div>
        <header>
            <nav>
                
            </nav>
        </header>
        <main>
          
            <section>
            <img src="https://static.vecteezy.com/system/resources/previews/011/550/715/non_2x/forest-tree-hd-nature-wallpapers-free-photo.jpg"/>
            <h2 id  = "text">texto</h2>
            <img src="https://cdn.pixabay.com/photo/2020/09/29/15/44/cabin-5613264_1280.png" id="cabania" class="objeto"/>
            <img src="https://assets.stickpng.com/images/580b585b2edbce24c47b2639.png" id="clouds_1" />
            <img src="https://assets.stickpng.com/images/580b585b2edbce24c47b2639.png" id="clouds_2" />
            </section>
        </main>
        <footer>
            
        </footer>
    </body>
</html>
