<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" type="text/css" href="/css/main.css" th:href="@{/css/registerForm.css}" />
                </head>
                <body>
                    <main>
                        <div class="form-bg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-6">
                                        <div class="form-container">
                                            <h3 class="title">Recuperar contraseña</h3>


                                            <form class="form-horizontal" th:action="@{/login/forgotPassword/forgotPasswordReset/resetPasswordresetPasswordReset}" method="post" >
                                                <p>Cambia tu contraseña</p>
                                                <div class="form-group">
                                                    <input type="text"  name="token" placeholder="token"  >
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="password" placeholder="Contraseña">
                                                </div>

                                                <div class="form-group">
                                                    <input type="submit" value="reset-password">
                                                </div>

                                            </form>


                                            <span class="signin-link">¿Aun no tienes cuenta? Que esperas! <a href="/register">Registrarme</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </body>
                </html>
